.custom-layout {
    button {
        border: none;
        outline: none;
        background: transparent;
    }
    box-sizing: border-box;
    display:flex;
    flex-direction: column;

    .summary-view-topbar{
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        background-color: #FBFBFB;
        color: #4A3500;
        font-size: 14px;
        font-weight: 400;
    
        .topbar-components {
            display: flex;
            align-items: center;
            gap: 8px;
            
            .bird-icon, close-icon {
                height: 24px;
                width: 24px;
                border-radius: 99999px;
                background-color: #EAB73426;
            }
        }
    }
    
    .summary-view-container {
        display: flex;
        justify-content: space-between;
        height: calc(100vh - 62px);
        padding-right: 32px;
        
    
        .summary-modes {
            /* height: fit-content;
            margin-left: 2rem;
            margin-right: 3rem;
            display: flex;
            flex-direction: column;
            gap: 32px; */
            width: 100px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
        
        .summary-content {
            flex: 1;
        }

        /* .summary-notes-content-wrapper{ */

            .summary-notes {
               border-radius: 10px;
               background-color: #FBFBFB;
               padding: 20px 18px;
               width: 30rem;
               overflow-y: auto;
               height: calc(100vh - 82px);
       
               .summary-notes-topbar {
                   display: flex;
                   align-items: center;
                   justify-content: space-between;
                   color: #4A3500;
                   font-size: 18px;
                   line-height: 18px;
       
                   .summary-notes-topbar-option {
                       width: 50%;
                       height: 3rem;
                   }
               }
       
               .summary-notes-content-wrapper {
                   padding-top: 20px;
       
                   .summary-note-create-container {
                       height: calc(100vh - 200px);
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       text-align: center;
       
                       .summary-note-create {
                           font-weight: 400;
                           font-size: 14px;
                           line-height: 22px;
                           letter-spacing: -1%;
                           color: #1D1D1DB2;
                           display: flex;
                           flex-direction: column;
                           gap: 20px;
                           align-items: center;
       
                           .create-note-button {
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               gap: 4px;
                               padding: 12px;
                               font-size: 16px;
                               line-height: 20px;
                               color: #4A3500;
                               width: fit-content;
                               border-radius: 4px;
                               border: 1px solid #1D1D1D1A;
                           }
                       }
                   }
       
                   .summary-question-create-container {
                       height: calc(100vh - 240px);
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       text-align: center;
       
                       .summary-question-create {
                           font-weight: 400;
                           font-size: 14px;
                           line-height: 22px;
                           letter-spacing: -1%;
                           color: #1D1D1DB2;
                           display: flex;
                           flex-direction: column;
                           gap: 20px;
                           align-items: center;
       
                           .arrow-icon {
                               margin-right: 20px;
                           }
                       }
                   }
       
                   .question-input-container {
                       position: fixed;
                       bottom: 20px;
                       width: 27rem;
                       background-color: white;
                       display: flex;
                       justify-content: space-between;
                       padding: 14px;
                       border: 1px solid #1D1D1D1A;
                       border-radius: 8px;
       
                       .question-input {
                           width: 100%;
                           border: none;
                           outline: none;
       
                           font-size: 15px;
                           line-height: 15px;
                           font-weight: 400;
                           color: #1D1D1D;
       
                           &::placeholder {
                               font-size: 15px;
                               line-height: 15px;
                               font-weight: 400;
                               color: #1D1D1D99;
                           }
                           
                           &:hover,
                           &:focus,
                           &:active {
                               border: none;
                               outline: none;
                               box-shadow: none;
                           }
                       }
                   }
       
                   .summary-notes-content {
                       padding: 20px;
                       background-color: white;
                       border-radius: 10px;
                       font-size: 15px;
                       line-height: 24px;
                       letter-spacing: -1%;
                       color: #1D1D1D;
                       word-break: break-all;
                   }
               }
           
           } 
        }
    /* } */
}